/* Common styles */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 85px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: $text-color;
  background-color: #fff;
}
@include breakpoint-down(768px){
  body{
    margin-top: 65px;
  }
}
img {
  max-width: 100%;
  display: block;
}
