.features {
    margin-bottom: 140px;
}
.features__header{
    margin-bottom: 72px;
}
.section-header {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section-header__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: $text-color;
}
.section-header__info {
    margin: 0;
    color: $text-color-opacity;
}
