.hero {
    @include d-f;
    min-height: 496px;
    position: relative;
    margin-bottom: 120px;

    &::after {
        position: absolute;
        content: "";
        width: 710px;
        height: 496px;
        top: 0;
        right: 0;
        margin-top: 80px;
        background-image: url("../img/hero-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.hero__info {
    width: 540px;
}
.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
}
.hero__text {
    margin-top: 0;
    margin-bottom: 32px;
    color: $text-color-opacity;

}
.hero__links {
    @include d-f;
}
.hero-link {
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    border: 2px solid transparent;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
}
.hero-link--google {
    margin-right: 16px;
    color: #fff;
    background-color: $button-bg-primary;

    &:hover{
        color: $button-bg-primary;
        border-color: $button-bg-primary;
        background-color: #fff;
    }
}
.hero-link--firefox {
    color: $text-color;
    background-color: #F7F7F7;

    &:hover{
        color: rgba(36, 42, 69, 0.75);
        border-color: rgba(36, 42, 69, 0.75);
        background-color: #fff;
    }
}

@include breakpoint-down (1200px) {
    .hero{
        flex-direction: column;

        &::after {
            position: static;
            order: -1;
            margin-bottom: 80px;
            margin-top: 40px;
        }
        &__info{
            width: 70%;
            text-align: center;
        }
        &__title{
            margin-bottom: 35px;
        }
        &__text{
            margin-bottom: 60px;
        }
        &__links{
            justify-content: center;
        }
    }
}
@include breakpoint-down (992px) {
    .hero::after{
        width: 80%;
        height: 430px;
        margin-bottom: 25px;
    }
}

@include breakpoint-down(768px){
    .hero::after{
        width: 100%;
        height: 430px;
    }
    .hero__info{
        width: 100%;
    }
}
@include breakpoint-down(500px){
    .hero::after{
        position: relative;
        height: 288px;
        right: -32px;
        margin-bottom: 48px;
        background-size: 100% 100%;

    }
    .hero__title{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .hero__text{
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 32px;
    }
    .hero__links{
        width: 100%;
        // justify-content: last baseline;
    }
    .hero-link{
        padding: 10px 17px;
    }
}
@include breakpoint-down(390px){
    .hero::after{
        background-image: url("../img/mobile-hero-bg.png");
    }
    .hero-link{
        padding: 5px 5px;
    }
    .hero-link--google{
        margin-right: 8px;
    }
}