.questions {
    margin-bottom: 140px;
}
.questions__header {
    margin-bottom: 56px;
}
.questions__list {
    max-width: 540px;
    @include list-style;
    flex-direction: column;
    margin: 0 auto;
}
.questions__button {
    @include d-f;
    justify-content: space-between;
    width: 100%;
    padding: 18px 0;
    padding-right: 24px;
    border: none;
    border-bottom: 1px solid rgba(36, 42, 69, 0.15);
    background-color: transparent;
    transition: .3s ease;

    &:hover{
        color: $button-bg-danger;
    }
}
.questions__button:first-child{
    border-top: 1px solid rgba(36, 42, 69, 0.15);
}
.questions__button::after{
    content: "";
    width: 16px;
    height: 8px;
    background-image: url("../img/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s linear;
}
.questions__button--active::after{
    transform: rotate(180deg);
    
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
// .questions__button--active + .content{
//     height: auto;
// }
.content__text {
    color: $text-color-opacity;
}