.section-header {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section-header__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: $text-color;
}
.section-header__info {
    margin: 0;
    color: $text-color-opacity;
}
@include breakpoint-down(500px){
    .section-header{
        max-width: 100%;

        &__title{
            font-size: 24px;
            line-height: 30px;
        }
        &__info {
            font-size: 15px;
            line-height: 25px;      
        }
    }
}
