.sitenav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.sitenav__container {
    @include d-f;
    position: relative;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}
.dropdown {
    display: none;
}
.sitenav__links{
    @include d-f;
}
.sitenav__list {
    @include list-style;
}
.sitenav__item {
    margin-right: 48px;

}
.sitenav__link {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: $text-color;
    text-decoration: none;
    transition: color .2s ease;

    &:hover {
        color: $button-bg-danger;
    }
}
.sitenav__login {
    padding: 12px 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    background-color: $button-bg-danger;
    border: 2px solid transparent;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover{
        color: $button-bg-danger;
        border-color: $button-bg-danger;
        background-color: #fff;
    }
}
.sitenav__socials-networs{
    display: none;
}

@include breakpoint-down (768px) {
    .sitenav__container{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .sitenav__container--open{
        background-color: rgba(36, 42, 69, 0.95);
    }
    .dropdown{
        display: block;
        width: 20px;
        height: 16px;
        padding: 0;
        background-image: url("../img/hamburger-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: transparent;
    }
    .dropdown--open {
        background-image: url("../img/site-toggler-close.svg");
    }
    .sitenav__links{
        display: none;
        height: calc(100vh - 65px);
        position: absolute;
        padding: 40px 60px;
        flex-direction: column;
        width: 100%;
        top: 99%;
        left: 0;
        z-index: 99;
        background-color: rgba(36, 42, 69, 0.95);
        transform: translateY(-100%);
        transition: 0.3s;
        animation: translateY 0.3s linear 1 forwards;
    }
    .sitenav__links--open{
        display: flex;
    }
    .sitenav__list{
        width: 100%;
        flex-direction: column;
    }
    .sitenav__item{
        margin-right: 0;
        text-align: center;
        border-top: 2px solid rgba(255, 255, 255, 0.15);
    }
    .sitenav__item:last-child{
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    }
    .sitenav__link{
        display: inline-block;
        padding: 24px 0;
        width: 100%;
        font-size: 20px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 2.30769px;
        text-transform: uppercase;
        color: #fff;
    }

    .sitenav__login{
        width: 100%;
        padding: 16px;
        margin-top: 24px;
        font-size: 20px;
        line-height: 17px;
        letter-spacing: 2.30769px;
        color: #FFFFFF;
        text-align: center;
        border: 2px solid #FFFFFF;
        border-radius: 5px;
        background-color: transparent;
    }
    .sitenav__socials-networs{
        display: flex;
        margin-top: auto;
    }
    .sitenav__social-network--facebook{
        margin-right: 40px;
    }
}
@include breakpoint-down(500px){
    .sitenav__links{
        padding-left: 32px;
        padding-right: 32px;
    }
}